html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    background-color: #092654;
    color: white;
    font-size: 25px;
}
main{
    float: left;
    width: 50%;

}

article{
    width: 100%;
}

aside{
    float: right;
    width: 50%;
    height: 100vh;
    padding-left: 6%;
    border-left: 8px solid white;
    
}

aside button{
    margin: 15px;
    background-color: #092654;
    color: white;
    border: 1px solid white;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    width: 60%;
}
aside a{
    padding: 5px;
    margin: 10px;
    text-decoration: underline;
    cursor: pointer;
}
button:hover{
    background-color: #576a8a;
}
a:visited{
    color: white;
}
footer{
    clear: both;
}
.parrafo{
    font-size: 22px;
    color: silver;
    margin-left: 10px;
}

img{
    width: 80%;
    height: 400px;
}